{
  "swagger": "2.0",
  "info": {
    "version": "2020-12-23T04:08:23Z",
    "title": "Xiphoo App"
  },
  "host": "api.xiphoo.com",
  "basePath": "/dev",
  "schemes": [
    "https"
  ],
  "paths": {
    "/product/{barcode}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "barcode",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [
          {
            "XiphooPrivateAPI": []
          }
        ]
      }
    },
    "/tag": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "tagPOSTModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/tagPOSTModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [
          {
            "XiphooPrivateAPI": []
          }
        ]
      }
    },
    "/tag/{uid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Cipher",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "tagUIDPutModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/tagUIDPutModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "XiphooPrivateAPI": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "x-amazon-apigateway-authtype": "cognito_user_pools"
    }
  },
  "definitions": {
    "Empty": {
      "type": "object",
      "title": "Empty Schema"
    },
    "tagUIDPutModel": {
      "type": "object",
      "required": [
        "newCipher"
      ],
      "properties": {
        "newCipher": {
          "type": "string",
          "minLength": 1
        },
        "location": {
          "type": "object",
          "properties": {
            "latitude": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "longitude": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          "required": [
            "latitude",
            "longitude"
          ]
        }
      }
    },
    "tagPOSTModel": {
      "type": "object",
      "required": [
        "barcode",
        "uid"
      ],
      "properties": {
        "uid": {
          "type": "string",
          "minLength": 1
        },
        "barcode": {
          "type": "string",
          "minLength": 1
        },
        "overwrite": {
          "type": "boolean"
        }
      }
    }
  }
}